h1
{

}

body{
	background-color: #402817;
	margin:0px;
	padding:0px;
}

.nav {
    text-align:right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #992827;
    
}

.menu {
    float: left;
}

    .menu a {
        font-size: 26px;
        color: #EFDAB8;
       display:inline-block;
        padding: 18px 16px;
        text-decoration: none;
        font-family: "Bebas Neue";
        
        
    }

   .menu img {
        padding: 7px 16px;
        transition: .5s ease;
        display:inline-block;
       align-items:center;
    }
    .menu img:hover {
        opacity: 0.3;
    }


.menu a:hover {
    background-color: #99463D;
}

h2, h3, h4{
	font-family: "Market Deco";
	padding: 14px;
	color: #EFDAB8;
	font-size: 18px;
	float: left;
	background-color: #992827;
    text-decoration: none;
}



h2 img{
	min-width: 10em;
	max-width: 20em;
}

    h2 a {
        
        color: #EFDAB8;
    }

    h2 a:hover {
        color: #FFFFFF;
    }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

    
}
th {
    border: 3px solid #776D63;
    text-align: center;
    padding: 8px;
    font-family: "Bebas Neue";
    
}

td {
    border: 2px solid #776D63;
    text-align: left;
    padding: 8px;
    font-family: "Market Deco";
    text-align: center;
    width:auto;
}

td a{
	text-decoration: none;
	color: #000000;
}	

td a:hover {
	color:#FFFFFF;
}
	
	
tr td {
    background-color: #99463D;
}
	
tr th {
    background-color: #992827;
}

td img {
    width: 10em;
    display: block;
    margin: auto;
}

label{
    margin:0 40px 0 0;
    font-size: 34px;
    display:none;
    width:34px;
}

#toggle{
    display:none;
}

@media only screen and (max-width: 600px) {
    label {
        display:block;
        cursor:pointer;
    }
    .menu {
        text-align:center;
        width: 100%;
        display: none;
    }

        .menu a {
            display: block;
            border: 1px solid #776D63;
            margin: 0;
        }
        #toggle:checked + .menu {
            display:block;
        }
}