h1 {
}

body {
    background-color: #1B2849;
    margin: 0px;
    padding: 0px;
}

.nav {
    text-align:right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #23375B;
}

.menu {
    float: left;
}

   .menu a {
        font-size: 26px;
        color: #B0B1AE;
        display:inline-block;
        padding: 30px 16px;
        text-decoration: none;
        font-family: "Bebas Neue";
        
    }

    .menu img {
        padding: 7px 16px;
        transition: .5s ease;
        display: inline-block;
        align-items: center;
    }

        .menu img:hover {
            opacity: 0.3;
        }


    .menu a:hover {
        background-color: #1A2842;
    }

h2, h3, h4 {
    font-family: "Market Deco";
    padding: 14px;
    color: #B0B1AE;
    font-size: 18px;
    float: left;
    background-color: #23375B;
}


    h2 img {
        min-width: 10em;
        max-width: 20em;
    }

    h2 a {
        color: #B0B1AE;
    }

        h2 a:hover {
            color: #FFFFFF;
        }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #FFFFFF;
}

th {
    border: 3px solid #B0B1AE;
    text-align: center;
    padding: 8px;
    font-family: "Bebas Neue";
}

td {
    border: 2px solid #B0B1AE;
    text-align: left;
    padding: 8px;
    font-family: "Market Deco";
    text-align: center;
}

    td a {
        text-decoration: none;
        color: #FFFFFF;
    }

        td a:hover {
            color: #000000;
        }


tr td {
    background-color: #23375B;
}

tr th {
    background-color: #1B2849;
}

td img {
    width: 10em;
    display: block;
    margin: auto;
}

label {
    margin: 0 40px 0 0;
    font-size: 34px;
    display: none;
    width: 34px;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 600px) {
    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

        .menu a {
            display: block;
            border: 1px solid #B0B1AE;
            margin: 0;
        }

    #toggle:checked + .menu {
        display: block;
    }
}